<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content ">
        {{>header}}
        <p>This site was create by Parth Kakadiya. It uses data from mapabox.com and openweather.com</p>
        <img class="portrait" src="/img/img.jpg">
    </div>

    {{>footer}}
</body>
</html>